.Stylish-Portfolio{
    width: 100%;
    height: 80vh;
    background-image:url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg) ;
display: flex;
justify-content: center;
align-items: center;
    .Portfolio{
        text-align: center;
        font-family: 'Schibsted Grotesk', sans-serif;
    width: 50%;
    height: 40%;
   font-size: 50px;
   color: $bgc-color;
   p{
    font-size: 30px;
   }
   button{
    padding: 3.5% 7%;
    color: $white-color;
    background-color: $button-bgc;
    border-radius: 5px;
    margin-top: 10%;
    border: none;
    font-size: 20px;
   }
}
}
.Recent-Projects{
    font-family: 'Schibsted Grotesk', sans-serif;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        color: $one-color;
    }
    h1{
        font-size: 30px;
    }
}
.d-flex{
    display: flex;
    justify-content: center;
   align-items: center;
    width: 100%;
    height: 500px;
}

.card2{
    width: 40%;
    height: 400px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
transition: 0.5s;
color: aliceblue;
margin: 1%;
p{
    padding: 35% 2%;
}
} 
.card2:hover{
    width: 30%;
    height: 300px;
}
.card1{
    width: 40%;
    height: 400px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
transition: 0.5s;
color: aliceblue;
p{
    padding: 35% 2%;
}
margin: 1%;
} 
.card1:hover{
    width: 30%;
    height: 300px;
}
.main-three{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color:$button-bgc;
   div{
    text-align: center;
    button{
        padding: 2% 5%;
        margin-left: 2%;
        border-radius: 5px;
        &:last-child{
            background-color: $bgc-color;
            color: $white-color;
        }
    }
   }
}
.card{
    text-align: center;
    border: none;
    img{
        border-radius: 50%;
    }
}
.text-main{
    text-align: center;
    padding: 2% 20%;
}
.main-son{
    margin: 5% 10%;
    display: flex;
    justify-content: space-around;
}