@media only screen and (max-width: 990px) {
  nav ul {
    display: none !important;
  }
  nav button {
    display: block !important;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid gray;
    border-radius: 3px;
    height: 20px;
    padding: 5px;
  }
  .main-son {
    display: block !important;
  }
  .d-flex {
    display: block !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(39, 37, 37);
}
nav h2 {
  font-family: "Work Sans", sans-serif !important;
}
nav h2 a {
  color: orange;
}
nav ul {
  width: 45%;
  display: flex;
  justify-content: space-around;
  color: white;
}
nav li:hover {
  color: orange;
}
nav button {
  display: none;
  color: gray;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100px;
}
footer i {
  color: #1D809F;
}

.Stylish-Portfolio {
  width: 100%;
  height: 80vh;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Stylish-Portfolio .Portfolio {
  text-align: center;
  font-family: "Schibsted Grotesk", sans-serif;
  width: 50%;
  height: 40%;
  font-size: 50px;
  color: rgb(39, 37, 37);
}
.Stylish-Portfolio .Portfolio p {
  font-size: 30px;
}
.Stylish-Portfolio .Portfolio button {
  padding: 3.5% 7%;
  color: white;
  background-color: #1D809F;
  border-radius: 5px;
  margin-top: 10%;
  border: none;
  font-size: 20px;
}

.Recent-Projects {
  font-family: "Schibsted Grotesk", sans-serif;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Recent-Projects p {
  color: orange;
}
.Recent-Projects h1 {
  font-size: 30px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.card2 {
  width: 40%;
  height: 400px;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
  transition: 0.5s;
  color: aliceblue;
  margin: 1%;
}
.card2 p {
  padding: 35% 2%;
}

.card2:hover {
  width: 30%;
  height: 300px;
}

.card1 {
  width: 40%;
  height: 400px;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
  transition: 0.5s;
  color: aliceblue;
  margin: 1%;
}
.card1 p {
  padding: 35% 2%;
}

.card1:hover {
  width: 30%;
  height: 300px;
}

.main-three {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #1D809F;
}
.main-three div {
  text-align: center;
}
.main-three div button {
  padding: 2% 5%;
  margin-left: 2%;
  border-radius: 5px;
}
.main-three div button:last-child {
  background-color: rgb(39, 37, 37);
  color: white;
}

.card {
  text-align: center;
  border: none;
}
.card img {
  border-radius: 50%;
}

.text-main {
  text-align: center;
  padding: 2% 20%;
}

.main-son {
  margin: 5% 10%;
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */